<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WKCompanionAppBundleIdentifier</key>
	<string>host.bisquit.Bisquit-host</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>host.bisquit.Bisquit-Host.Background-Task</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ChangePowerIntent</string>
		<string>CreateBackupIntent</string>
		<string>SendCommandIntent</string>
		<string>StartIntent</string>
		<string>TestApiIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
