<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppClip Demo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Bisquit Planet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Bisquit.Host Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Bisquit.Host iMessage MessagesExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Bisquit.Host.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Contact Provider Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>DeviceKitPlayground (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Intent Handler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Intent.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MyPlayground (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>MyPlayground (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>MyPlayground (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Tests (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Tests (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Tests (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Widgets Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>WidgetsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>iMessage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>visionOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3000E04295A341000ABD30A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F31BA5222958FF7C0006D126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F31BA5322958FF7D0006D126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F31BA54D2958FFAF0006D126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3464CF72A862D2C00188B0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F350636429DC24AB0010B717</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F38637362A8641120069F074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3A7CEBA2C8B685400413400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3A7CEC22C8B685500413400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3AF96AB29DDC46800D30A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3BD76F12A43C890003E7385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3E08E9F2A2CE17800116C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3FDFF5E2C89120D009EBB5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
